<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="#">
    <!-- jvectormap -->
    <link href="<%= nodeSiteUrl %>plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

    <!-- Datatable css -->
    <!-- <link href="<%= nodeSiteUrl %>plugins/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= nodeSiteUrl %>plugins/datatables/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" /> -->
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" />
    
    <!-- App css -->
    <link href="<%= nodeSiteUrl %>assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= nodeSiteUrl %>assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= nodeSiteUrl %>assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= nodeSiteUrl %>plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
   

    <link href="<%= nodeSiteUrl %>assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= nodeSiteUrl %>assets/css/custom.css" rel="stylesheet" type="text/css" />

    
    <script>
        let WEB_ROOT = "<%= nodeSiteUrl %>";
    </script>
</head>
<body class="dark-sidenav">
    <!-- Left Sidenav -->
    <%- include('dashboard-leftbar.ejs'); %>
    <!-- end left-sidenav-->
    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <%- include('dashboard-topbar.ejs'); %>
        <!-- Top Bar End -->
        <!-- Page Content-->
        <div class="page-content">